name: Build Electron App

on:
  push:
    branches: [ main ]
    tags: 
      - 'v*'

jobs:
  build:
    runs-on: windows-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Fix Git Config
        run: |
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
          git config --global --add safe.directory "*"

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Setup Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - run: npm install

      - name: Rebuild native modules
        run: npx electron-rebuild -v 40.0.0 

      - name: Build Electron app
        run: npx electron-builder --win --x64 --publish never -c.git.require=false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Ether-Flow-Installer
          path: demo/*.exe